body {

    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    background-color: #CDE990;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 46% 46%;
    grid-template-areas: 
    'header header header'
    'price_graph price_graph price_graph'
    'price_table price_table new_place'

}

header {
    background-color: #425F57;
    color: white;
    font-size: 40px;
    text-align: left;
    padding-top: 5px;
    padding-left: 2%;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    grid-area: header;
}

.price_table {
    background-color: #90B77D;
    color: white;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 30px;
    grid-area: price_table;
    background-image: url("../static/background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
}

.price_graph {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    grid-area: price_graph;
}

.new_place {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 20px;
    grid-area: new_place;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    'predict_price'
    'ac_img'
    'ac_img'
    'ac_img'
}

.ac_img { 
    background-color: #B6D7A8;
    color: white;
    font-size: 80px;
    text-align: center;
    background-image: url("../static/drag.png");
    background-repeat: no-repeat;
    background-position: center;
    grid-area: ac_img;
}

.predict_price {
    background-color: #90B77D;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: predict_price;
    white-space: nowrap;
    font-family: 'Noto Sans KR', sans-serif;
}

#myChart {
    width: 100%;
    height: 100%;
}