<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Agricultural_products.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css"/>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Noto+Sans+KR:wght@700&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">


    <title>7팀 농산물 프로젝트</title>
</head>
<body>
    
    <header>MS AI School 7 team</header>
    <div class="price_graph">
        <div id="myChart">

        </div>
    </div>
    <div class="price_table" id = "table-container"></div>
    <div class="new_place">
        <div class="ac_img" id="img_id"></div>
        <div class="predict_price">농산물 검출 및 가격 예측 프로젝트</div>
    </div>
    

    <!--cdn-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.0/papaparse.min.js"></script>  
    <!-- echarts-cdn -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    

    <script>

        let image_blob = document.getElementById("img_id");

        $(function() {
        var dropzone = $('.ac_img');

        dropzone.on('dragover', function() {
            dropzone.addClass('hover');
            return false;
        });

        dropzone.on('dragleave', function() {
            dropzone.removeClass('hover');
            return false;
        });

        dropzone.on('drop', function(e) {
            e.preventDefault();
            dropzone.removeClass('hover');

            // 파일 저장
            var files = e.originalEvent.dataTransfer.files;
            var imageType = /^image\//;
            let file = files[0]

            // 파일이 이미지일 경우
            if(imageType.test(file.type)){
                
                //이미지 변경
                image_url = window.URL.createObjectURL(file)
                image_blob.style.backgroundImage = `url(${image_url})`
                image_blob.style.backgroundSize = "contain"
                image_blob.style.backgroundColor = "#FFFFFF"
                
                // FormData 생성
                img_form = new FormData()
                img_form.append('agricultural_img', file)

                //axios 통신
                axios.post('http://localhost:8123//detect_label/', img_form, {
                    responseType: 'json'
                })
                .then((resp, failed) => {

                    //여기서 json파일을 읽는다.
                    dict = resp.data
                    console.log(dict["label"])

                    if(dict["label"] === "access_fail" || dict["label"] === "detect_fail" || dict["label"] === "cucumber"){
                        alert("객체 검출 실패: " + dict["label"])
                    }else{
                        //json파일을 읽은 후 라벨에 맞게 테이블, 차트, 다음 날 예상가격을 주문한다.
                        //alert("객체 검출 성공: " + dict["label"])

                        let send_label = {
                            label : dict["label"]
                        }
                        
                        // 테이블 조회하기
                        axios.post('http://localhost:8123//response/table', JSON.stringify(send_label), {
                            responseType: 'blob',
                            headers: {
                                "Content-Type": `application/json`
                            },
                        })
                        .then((resp, failed) => {
                            Papa.parse(resp.data, {
                                header: true,
                                delimiter: ",",
                                newline: "\n",
                                complete: function(results) {

                                    // 이전에 생성된 테이블을 찾아서 삭제
                                    var oldTable = document.querySelector(".table");
                                    if (oldTable) {
                                    oldTable.remove();
                                    }

                                    var table = document.createElement("table");
                                    table.classList.add("table");

                                    // 테이블 헤더 생성
                                    var header = table.createTHead();
                                    var headerRow = header.insertRow(0);
                                    var headers = Object.keys(results.data[0]);
                                    delete headers[0]; // 0번 헤더 삭제
                                    headers.forEach(function(headerText) {
                                    var headerCell = document.createElement("th");
                                    headerCell.textContent = headerText;
                                    headerCell.style.backgroundColor = "#425F57"; // 헤더 셀의 배경색 지정
                                    headerCell.style.color = "white";
                                    headerRow.appendChild(headerCell);
                                    });

                                    // 테이블 바디 생성
                                    var body = table.createTBody();
                                    results.data.forEach(function(rowData) {
                                    var row = body.insertRow(-1);
                                    headers.forEach(function(header, index) {
                                        var cell = row.insertCell(-1);
                                        cell.textContent = rowData[header];
                                        if (index === 1) { // 첫 번째 열의 셀만 색상을 변경
                                            cell.style.backgroundColor = "#425F57";
                                            cell.style.color = "white";
                                        }
                                        if (index === 2) { // 두 번째 열의 셀만 색상을 변경
                                            cell.style.backgroundColor = "#83BD75";
                                        }
                                        if (index === 3) { // 세 번째 열의 셀만 색상을 변경
                                            cell.style.backgroundColor = "#B4E197";
                                        }
                                        if (index === 4) { // 네 번째 열의 셀만 색상을 변경
                                            cell.style.backgroundColor = "#E9EFC0";
                                        }
                                    });
                                    });

                                    // CSS 스타일 적용
                                    table.style.borderCollapse = "collapse";
                                    table.style.border = "1px solid black";
                                    table.style.fontFamily = "Noto Sans KR, sans-serif";
                                    table.style.fontSize = "20px";

                                    // 결과를 특정 요소에 추가
                                    var tc = document.getElementById("table-container")
                                    tc.appendChild(table);
                                    tc.style.overflow = "auto";
                                    tc.style.backgroundImage = 'none';


                                    //ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 딕션어리 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
                                    agricultrual_dict_yoon = {
                                        'chinese-cabbage' : '배추', 'onion' : '양파', 'green-lettuce' : '청상추', 'radish' : '무', 'tomato' : '토마토', 'garlic' : '마늘',
                                        'greenonion' : '대파', 'cabbage' : '양배추', 'spinach' : '시금치', 'carrot' : '당근', 'paprica' : '파프리카', 'mushroom' : '팽이버섯',
                                        ' young-squash' : '애호박' , 'grape' : '포도'
                                    }


                                    //ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 그래프 그리기 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
                                    
                                    let data_dict_list = [];

                                    // 시간 구하기
                                    const date_array = [];
                                    for(var i = 0; i < results.data.length; i++){

                                        var date_data = results.data[i]["DATE"]
                                        date_array.push(date_data)

                                    }


                                    // 값 구하기
                                    const value_array = [];
                                    // column 분리하기
                                    for(var i = 0; i < results.data.length; i++){

                                        // column_data = results.data[i]["rf_predicted_price"]
                                        // 이거 console창 믿지말고 Object.keys(results.data[0])으로 헤더 이름 확인해라
                                        var xgb_data = results.data[i]["xgb_predicted_price\r"].split("\r")[0]
                                        value_array.push(xgb_data)
                                    }

                                    var chartDom = document.getElementById('myChart');
                                    var myChart = echarts.init(chartDom);
                                    var option;

                                    option = {
                                        tooltip: {
                                            trigger: 'axis',
                                            position: function (pt) {
                                            return [pt[0], '10%'];
                                            }
                                        },
                                        title: {
                                            left: 'center',
                                            text: agricultrual_dict_yoon[dict["label"]] + "의 가격 변동",
                                            textStyle: {
                                                fontFamily: 'Oswald sans-serif',
                                                fontSize: 30
                                            }
                                        },
                                        toolbox: {
                                            show: false,
                                        },
                                        xAxis: {
                                            type: 'category',
                                            boundaryGap: false,
                                            data: date_array
                                        },
                                        yAxis: {
                                            type: 'value',
                                            boundaryGap: [0, '100%']
                                        },
                                        dataZoom: [
                                            {
                                            type: 'inside',
                                            start: 0,
                                            end: 10
                                            },
                                            {
                                            start: 0,
                                            end: 10
                                            }
                                        ],
                                        series: [
                                            {
                                            name: '가격',
                                            type: 'line',
                                            symbol: 'none',
                                            sampling: 'lttb',
                                            itemStyle: {
                                                color: 'rgb(116, 159, 130)'
                                            },
                                            areaStyle: {
                                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                                {
                                                    offset: 0,
                                                    color: 'rgb(168, 232, 144)'
                                                },
                                                {
                                                    offset: 1,
                                                    color: 'rgb(207, 255, 141)'
                                                }
                                                ])
                                            },
                                            data: value_array
                                            }
                                        ],
                                        // responsive 옵션 추가
                                        responsive: true,
                                        
                                    };

                                    option && myChart.setOption(option);

                                    function resizeChart() {
                                        myChart.resize();
                                    }

                                    // 창 크기가 변경될 때마다 resizeChart 함수 호출
                                    window.addEventListener('resize', resizeChart);

                                    // ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ예측 결과 나타내기ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
                                    const data = results.data;

                                    // 배열의 마지막 요소를 가져옵니다.
                                    // const lastRow = data[data.length - 1]
                                    const lastRow = data[data.length - 1]["xgb_predicted_price\r"]
                                    console.log("예측결과: ")
                                    console.log(lastRow)

                                    var textg = "다음 날의 예상 가격은 " + lastRow + "원 입니다."
                                    $(document).ready(function() {
                                        $('.predict_price').text(textg);
                                    });
                                    


                                }
                            });
                        })
                    }
                })
            }

        });
        });
    </script>

</body>
</html>