<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/product_detect.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css"/>
    <!--head font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
    <title>편의점 프로젝트</title>
</head>
<body>
    <header>편의점 객체 탐지 </header>
    <side1></side1>
    <main>
        <center>
        <form id = "img_section">
        <img src="../static/msaischool.png" style="margin-top: 20px;" id = "product_image"/>
        </form>
        <div id = "send_section">
            <input class="form-control" type="file"  v-on:change="image_save">
            <button class="btn btn-lg btn-success" id="send_btn" v-on:click="send_para">서버 전송</button>
            <p id="product_detail">편의점 물건을 검출하여 정보를 반환합니다.</p>
        </div>
        </center>
    </main>
    <side2></side2>
    <footer>made by MS AI School 1st 7team</footer>

    <!--cdn-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let image_blob = document.getElementById("product_image");      //이미지 요소 위치
        let file_img;   //이미지 FormData
        let send_trigger;

        const img_app = new Vue({
        el: "#send_section",
        methods: {
            image_save: function (event) {
                
                file_img = event.target.files[0]

                if (file_img && file_img.type.match(/^image\/(png|jpeg)$/)) {
                    // 이미지 변경
                    image_blob.src = window.URL.createObjectURL(file_img)
                    send_trigger = 0;
                    // FormData 생성
                    img_form = new FormData()
                    img_form.append('product_img', file_img)
                }
        
            },

            send_para() {
                // 이미지 보내고 이미지랑 객체 정보 받기
                if (send_trigger == 0){
                    //이미지를 보낸적이 없는 경우만 가능하다.
                    axios.post('http://localhost:8123/product_detect/', img_form, {
                        responseType: 'blob'
                    })
                    .then((resp, failed) => {
                        
                        // json 파일이 넘어오면 실패이다.
                        header_type = resp.headers["content-type"]

                        if (header_type === "application/json"){
                            // 객체 겁색에 실패함
                            alert("전송 실패");

                        }else{
                            

                            
                            headers_img_name = resp.headers["x-filename"]
                            let data = {
                                img_name : headers_img_name
                            }

                            //이미지 바꿈
                            image_blob.src = window.URL.createObjectURL(resp.data);
                            
                            //나머지 텍스트를 가져온다.
                            axios.post('http://localhost:8123/product_detect/text', JSON.stringify(data), {
                            headers: {
                                "Content-Type": `application/json`,
                            },
                            })
                            .then((response, failed) => {
                                console.log(response.data)
                                send_trigger = 1;
                                
                                // .text( ) 를 사용하여 안에 내용 변경
                                // .html( ) 를 사용하여 안에 html 내용 변경
                                img_text = $("#product_detail");
                                
                                product_name = "상품명: " + response.data["prod_nm"] + "<br>";
                                product_barcd = "바코드: " + response.data["barcd"] + "<br>";
                                product_volume = "용량: " + response.data["volume"] + "<br>";
                                product_nutrition_info = "영양정보 " + "<br> " + response.data["nutrition_info"] + "<br>";
                                //img_text.text(product_name)
                                img_text.html(product_name + product_barcd + product_volume + product_nutrition_info)
                            })
                        }
                    })
                    .catch((error) => {
                        alert("전송 실패");
                    });


                }else{
                    alert("이미 서버에 전송된 사진입니다.")
                }
            },

        },
        });

    </script>

</body>
</html>